<md-input-container>
  <input
    mdInput
    type="search"
    (input)="search(termCtrl.value)"
    (focus)="toggleResults(true)"
    (blur)="toggleResults(false)"
    #termCtrl
  >
  <md-icon mdPrefix>search</md-icon>
  <md-placeholder>{{customPlaceholder || 'Search'}}</md-placeholder>
</md-input-container>

<md-nav-list [class.hide]="!showResults" dense>
  <h2 md-subheader *ngIf="termCtrl.value; else noValue">
    Results for "{{termCtrl.value}}"
  </h2>
  <ng-template #noValue>
    <h2 md-subheader>Enter a term to search</h2>
  </ng-template>
  <md-list-item
    *ngFor="let result of searchResult | async"
    (click)="termCtrl.value = result.volumeInfo.title; onSelect(result)"
    [mdTooltip]="result.volumeInfo.title +
      (result.volumeInfo.subtitle ? (': '+result.volumeInfo.subtitle):'')"
  >
    <img
      md-list-avatar
      class="search-avatar"
      [src]="result.volumeInfo.imageLinks?.smallThumbnail"
      [alt]="result.volumeInfo.title"
    >
    <h3 md-line>{{result.volumeInfo.title}}</h3>
    <h5 md-line>{{result.volumeInfo.subtitle}}</h5>
  </md-list-item>
</md-nav-list>

