<form (ngSubmit)="changePassword()" #pwForm="ngForm">
  <md-input-container>
    <input
      mdInput
      type="password"
      placeholder="Old password"
      name="oldPW"
      [(ngModel)]="oldPW"
      required
      minlength="8"
    >
    <md-error>Password has at least 8 characters</md-error>
  </md-input-container>

  <md-input-container>
    <input
      mdInput
      type="password"
      placeholder="New password"
      name="newPW"
      [(ngModel)]="newPW"
      required
      minlength="8"
      #newCtrl="ngModel"
      [sameAs]="confirmCtrl"
      nameOfOther="confirmPW"
    >
    <md-error *ngIf="newCtrl.errors?.required || newCtrl.errors?.minlength;
      else newDiff">
      At least 8 characters
    </md-error>
    <ng-template #newDiff>
      <md-error>Passwords not match</md-error>
    </ng-template>
  </md-input-container>

  <md-input-container>
    <input
      mdInput
      type="password"
      placeholder="Confirm new password"
      name="confirmPW"
      [(ngModel)]="confirmPW"
      required
      minlength="8"
      #confirmCtrl="ngModel"
      [sameAs]="newCtrl"
      nameOfOther="newPW"
    >
    <md-error *ngIf="confirmCtrl.errors?.required || confirmCtrl.errors?.minlength; else confirmDiff">
      At least 8 characters
    </md-error>
    <ng-template #confirmDiff>
      <md-error>Passwords not match</md-error>
    </ng-template>
  </md-input-container>

  <button
    md-button
    type="submit"
    [disabled]="!pwForm.form.valid || (pwForm.submitted && !error)"
  >Change password</button>
</form>

