<h2>Change Password</h2>

<form (ngSubmit)="changePassword()" #pwForm="ngForm" *ngIf="!success">
  <input type="password" placeholder="Old password" name="oldPW" [(ngModel)]="oldPW" required minlength="8">
  <input type="password" placeholder="New password" name="newPW" [(ngModel)]="newPW" required minlength="8" #newCtrl="ngModel" [sameAs]="confirmCtrl" nameOfOther="confirmPW">
  <input type="password" placeholder="Confirm new password" name="confirmPW" [(ngModel)]="confirmPW" required minlength="8" #confirmCtrl="ngModel" [sameAs]="newCtrl" nameOfOther="newPW">
  <button type="submit" [disabled]="!pwForm.form.valid || (pwForm.submitted && !error)">Change password</button>
</form>

<div *ngIf="success">Changed password successfully.</div>
<div *ngIf="error">Invalid password.</div>

