<h2>My BOOKS</h2>

<div *ngFor="let book of books | async" [class.highlight]="book._id === highlight">
  <div [routerLink]="['/book', book.info.volumeID]">
    <img [src]="book.info.thumbnail" [alt]="book.info.title">
    <h3>{{book.info.title}}</h3>
    <h5>{{book.info.subtitle}}</h5>
  </div>
  <button type="button" (click)="remove(book._id)">Remove</button>
</div>

<div *ngIf="error; else addBook">
  An error has occurred! (TODO)
</div>

<ng-template #addBook>
  <book-search (selectBook)="add($event)"></book-search>
</ng-template>

<hr>
{{books|async|json}}

