<div class="container">
  <md-toolbar color="primary">
    <button (click)="sidenav.toggle()" md-button>
      <md-icon>menu</md-icon>
    </button>

    <a
      md-button
      class="logo"
      routerLink="/"
      (click)="sidenav.close()"
    >Book Trading App</a>

    <ng-container *ngIf="userStream | async as user; else loginButton">
      <a
        md-button
        routerLink="/setting"
      >Welcome, {{user.displayName || user.name}}!</a>
      <button
        md-icon-button
        routerLink="/"
        (click)="logout()"
      ><md-icon>exit_to_app</md-icon></button>
    </ng-container>

    <ng-template #loginButton>
      <a
        md-raised-button
        routerLink="/login"
        color="accent"
        (click)="sidenav.close()"
      >Login</a>
    </ng-template>
  </md-toolbar>

  <md-sidenav-container class="content">
    <md-sidenav #sidenav>
      <md-nav-list>
        <a
          md-list-item
          routerLink="/"
          (click)="sidenav.close()"
        ><md-icon>home</md-icon>Home</a>
        <ng-container *ngIf="userStream | async; else guestNav">
          <a
            md-list-item
            routerLink="/trade"
            (click)="sidenav.close()"
          ><md-icon>swap_horiz</md-icon>Trades</a>
          <a
            md-list-item
            routerLink="/book"
            (click)="sidenav.close()"
          ><md-icon>book</md-icon>Books</a>
          <a
            md-list-item
            routerLink="/setting"
            (click)="sidenav.close()"
          ><md-icon>settings</md-icon>Settings</a>
          <a
            md-list-item
            routerLink="/"
            (click)="sidenav.close() && logout()"
          ><md-icon>exit_to_app</md-icon>Logout</a>
        </ng-container>
        <ng-template #guestNav>
          <a
            md-list-item
            routerLink="/login"
            (click)="sidenav.close()"
          ><md-icon>account_box</md-icon>Login</a>
          <a
            md-list-item
            routerLink="/login/new"
            (click)="sidenav.close()"
          ><md-icon>supervisor_account</md-icon>Signup</a>
        </ng-template>
      </md-nav-list>
    </md-sidenav>

    <router-outlet name="init-trade"></router-outlet>

    <ng-content></ng-content>
  </md-sidenav-container>
</div>

