.logo {
  text-align: left;
}

.logo-icon {
  margin-right: 22px;
}

.logo-text {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.main-nav a {
  padding: 0 32px;

  md-icon {
    margin-right: 16px;
  }
}

.user-area {
  display: flex;
}

.greeting {
  flex: 2;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
}

@media (min-width: 769px) {
  .logo {
    flex: 3;
  }
  .logo-text {
    display: inline;
  }
}

