html,
body {
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a[md-list-item],
[md-button],
[md-raised-button],
[md-tab-link] {
  text-transform: uppercase;
}

.mat-sidenav-content {
  flex: 1;
}

