:host {
  display: block;
  background: rgba(#ffee58, .85);
  background: linear-gradient(rgba(#ffee58, .85), rgba(#fff176, .85));
  width: 400px;
  max-width: 90vw;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  max-height: 90vh;
  overflow-y: auto;
}

.request-card {
  background: none;
  width: 100%;
  padding: 20px;
}

dd {
  color: rgba(0, 0, 0, .54);
  padding-top: .3em;
  padding-bottom: .3em;
  overflow: hidden;
  overflow-wrap: break-word;
}

dt {
  margin-top: .5em;
  padding-top: .5em;
}

md-input-container,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

