$yellow: #f9edbe;
$light-yellow: lighten($yellow, 5%);

:host {
  display: block;
  background: rgba($yellow, .85);
  background: linear-gradient(rgba($yellow, .85), rgba($light-yellow, .85));
  width: 400px;
  max-width: 90vw;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  max-height: 90vh;
  overflow-y: auto;
  border: 2px solid #f0c36d;
}

.request-card {
  background: none;
  width: 100%;
  padding: 20px;
}

dd {
  color: rgba(0, 0, 0, .54);
  padding-top: .3em;
  padding-bottom: .3em;
  overflow: hidden;
  overflow-wrap: break-word;
}

dt {
  margin-top: .5em;
  padding-top: .5em;
}

md-input-container,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

.close-button {
  transition: color .09s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    color: #f44336;
  }
}

