<button md-icon-button routerLink="../">
  <md-icon>arrow_back</md-icon>
</button>

<md-card *ngIf="info">
  <md-card-title>{{info.volumeInfo.title}}</md-card-title>
  <md-card-subtitle>{{info.volumeInfo.subtitle}}</md-card-subtitle>

  <img
    md-card-image
    [src]="info.volumeInfo.imageLinks?.large ||
      info.volumeInfo.imageLinks?.thumbnail"
    [alt]="info.volumeInfo.title"
  >

  <md-card-content>
    <dl (mouseover)="onHoverList($event)" (mouseout)="onMouseout()">
      <ng-container *ngIf="info.volumeInfo.authors?.length">
        <dt [class.active-desc]="activeDesc === 'author'" data-desc="author">
          Author
        </dt>
        <dd
          [class.active-desc]="activeDesc === 'author'" 
          data-desc="author"
          *ngFor="let author of info.volumeInfo.authors"
        >{{author}}</dd>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.publisher">
        <dt
          [class.active-desc]="activeDesc === 'publisher'" 
          data-desc="publisher"
        >Publisher</dt>
        <dd
          [class.active-desc]="activeDesc === 'publisher'" 
          data-desc="publisher"
        >
          {{info.volumeInfo.publisher}}
          ({{info.volumeInfo.publishedDate || 'Unknown year'}})
        </dd>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.description">
        <dt
          [class.active-desc]="activeDesc === 'description'" 
          data-desc="description"
        >Description</dt>
        <dd
          [class.active-desc]="activeDesc === 'description'" 
          data-desc="description"
          [innerHTML]="info.volumeInfo.description"
        ></dd>
      </ng-container>

      <ng-container *ngFor="let id of info.volumeInfo.industryIdentifiers">
        <dt
          [class.active-desc]="activeDesc === id.type" 
          [attr.data-desc]="id.type"
        >{{id.type}}</dt>
        <dd
          [class.active-desc]="activeDesc === id.type" 
          [attr.data-desc]="id.type"
        >{{id.identifier}}</dd>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.pageCount">
        <dt
          [class.active-desc]="activeDesc === 'page'" 
          data-desc="page"
        >Page</dt>
        <dd
          [class.active-desc]="activeDesc === 'page'" 
          data-desc="page"
        >{{info.volumeInfo.pageCount}}</dd>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.dimensions && info.volumeInfo.dimensions.height && info.volumeInfo.dimensions.width && info.volumeInfo.dimensions.thickness">
        <dt
          [class.active-desc]="activeDesc === 'dimensions'" 
          data-desc="dimensions"
        >Dimensions</dt>
        <dd
          [class.active-desc]="activeDesc === 'dimensions'" 
          data-desc="dimensions"
        >
          {{info.volumeInfo.dimensions.height}} (h)
          &times; {{info.volumeInfo.dimensions.width}} (w)
          &times; {{info.volumeInfo.dimensions.thickness}} (t)
        </dd>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.mainCategory || info.volumeInfo.categories">
        <dt
          [class.active-desc]="activeDesc === 'category'" 
          data-desc="category"
        >Category</dt>
        <dd
          [class.active-desc]="activeDesc === 'category'" 
          data-desc="category"
        >{{info.volumeInfo.mainCategory}}</dd>
        <ng-container *ngFor="let category of info.volumeInfo.categories">
          <dd
            [class.active-desc]="activeDesc === 'category'" 
            data-desc="category"
          >{{category}}</dd>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.averageRating">
        <dt
          [class.active-desc]="activeDesc === 'rating'" 
          data-desc="rating"
        >Rating</dt>
        <dd
          [class.active-desc]="activeDesc === 'rating'" 
          data-desc="rating"
        >{{info.volumeInfo.averageRating}}</dd>
      </ng-container>

      <ng-container *ngIf="info.volumeInfo.language">
        <dt
          [class.active-desc]="activeDesc === 'language'" 
          data-desc="language"
        >Language</dt>
        <dd
          [class.active-desc]="activeDesc === 'language'" 
          data-desc="language"
        >{{info.volumeInfo.language}}</dd>
      </ng-container>
    </dl>

    <ng-container *ngIf="copies.length > 0; else noOffer">
      <table>
        <tr>
          <th>Offerer</th>
          <th>Email</th>
          <th>Location</th>
          <th>Last Login</th>
          <th>Trade</th>
        </tr>
        <tr *ngFor="let copy of copies">
          <td>{{copy.user.displayName || copy.user.name}}</td>
          <td>{{copy.user.email || '-'}}</td>
          <td>{{copy.user.location || '-'}}</td>
          <td>{{copy.user.lastLogin | date}}</td>
          <td>
            <button
              md-button
              type="button"
              (click)="initTrade(copy._id, copy.currentComment)"
              [disabled]="copy.state === 'owned' ||
                copy.state === 'completed'"
            >Request</button>
            <p *ngIf="copy.state === 'completed'" class="reminder">
              You have already completed this trade
            </p>
            <p *ngIf="copy.state === 'pending'" class="reminder">
              You currently have an ongoing trade with this user. By requesting again, the current trade will be reset
            </p>
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-template #noOffer>
      <p class="reminder">
        No offer for this book at the moment
      </p>
    </ng-template>
  </md-card-content>

  <md-card-actions align="end">
    <button
      md-button
      type="button"
      [disabled]="owned"
      (click)="addBook()"
    >Add to my collection</button>
  </md-card-actions>

</md-card>

