.trade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}

.card-area {
  width: 90vw;
  padding: 33px 0;
}

.card {
  width: 250px;
  margin: 15px;
  display: inline-block;

  a {
    text-decoration: none;
    text-align: left;

    &:hover {
      opacity: .7;
      text-decoration: underline;
    }
  }

  [md-card-title] {
    color: #000;
  }

  [md-card-subtitle] {
    color: rgba(0, 0, 0, .54);
    font-size: .9em;
    margin-bottom: 22px;
  }
}

.card.highlight {
  background: rgba(0, 0, 0, .04);
}

dd {
  color: rgba(0, 0, 0, .54);
  padding-top: .3em;
  padding-bottom: .3em;
}

dt {
  margin-top: .5em;
  padding-top: .5em;
}

.comment {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.empty-message {
  padding-top: 33px;
  text-align: center;
}

.trade-status {
  text-align: right;
  font-size: .9em;
  font-weight: bold;
  color: #f44336;
}

