<section class="trade-container">
  <md-tab-group (selectChange)="relayout($event)">
    <md-tab label="MY REQUESTS">
      <p
        class="empty-message"
        *ngIf="(myRequests|async)?.length === 0"
      >
        No requests yet
        <a md-raised-button color="accent" routerLink="/book">View book list</a>
      </p>
      <div
        class="card-area"
        [masonryLayout]="250"
        [masonryLength]="(myRequests|async)?.length"
        #mine="masonryLayout"
      >
        <md-card
          class="card"
          *ngFor="let req of myRequests | async"
          [class.highlight]="highlight === req._id"
        >
          <a [routerLink]="['/book', req.book.info.volumeID]">
            <h3 md-card-title>{{req.book.info.title}}</h3>
            <h6 md-card-subtitle>{{req.book.info.subtitle}}</h6>
            <img
              md-card-image
              [src]="req.book.info.thumbnail"
              [alt]="req.book.info.title"
            >
          </a>
          <dl>
            <dt>Comment</dt>
            <dd class="comment">{{req.comment}}</dd>
            <dt>Request Date</dt>
            <dd>{{req.requestDate | date}}</dd>
            <dt>Status</dt>
            <dd>
              <p *ngIf="req.isCompleted">
                Completed on {{req.completeDate | date}}
              </p>
              <p *ngIf="!req.isCompleted && req.isAccepted">Accepted</p>
              <p *ngIf="req.isRejected">Rejected</p>
              <p *ngIf="!req.isAccepted && !req.isRejected">Pending</p>
            </dd>
          </dl>

          <md-card-actions align="end">
            <button
              *ngIf="!req.isCompleted"
              md-button
              (click)="withdraw(req._id)">
            Withdraw</button>
            <button
              *ngIf="!req.isCompleted && req.isAccepted"
              md-button
              (click)="complete(req._id)"
            >Complete</button>
          </md-card-actions>
        </md-card>
      </div>
    </md-tab>

    <md-tab label="THEIR REQUESTS" class="card-area">
      <p
        class="empty-message"
        *ngIf="(theirRequests|async|tradeFilter:'isRejected':false)?.length === 0"
      >
        No requests found
        <a md-raised-button color="accent" routerLink="/book/me">
          add more books
        </a>
      </p>
      <div
        class="card-area"
        [masonryLayout]="250"
        [masonryLength]="(theirRequests|async|tradeFilter:'isRejected':false)?.length"
        #theirs="masonryLayout"
      >
        <md-card
          class="card"
          *ngFor="let req of theirRequests | async |
            tradeFilter: 'isRejected': false"
        >
          <a [routerLink]="['/book', req.book.info.volumeID]">
            <h3 md-card-title>{{req.book.info.title}}</h3>
            <h6 md-card-subtitle>{{req.book.info.subtitle}}</h6>
            <img
              md-card-image
              [src]="req.book.info.thumbnail"
              [alt]="req.book.info.title"
            >
          </a>

          <ng-container md-card-content>
            <dl>
              <dt>Comment</dt>
              <dd class="comment">{{req.comment}}</dd>
              <dt>Requester</dt>
              <dd>{{req.requester.displayName || req.requester.name}}</dd>
              <dt>Email</dt>
              <dd>{{req.requester.email || '-'}}</dd>
              <dt>Location</dt>
              <dd>{{req.requester.location || '-'}}</dd>
              <dt>Last Login</dt>
              <dd>{{req.requester.lastLogin|date}}</dd>
              <dt>Request Date</dt>
              <dd>{{req.requestDate|date}}</dd>
            </dl>

            <p *ngIf="req.isCompleted" class="trade-status">
              Completed on {{req.completeDate|date}}
            </p>
            <p
              *ngIf="req.isAccepted && !req.isCompleted"
              class="trade-status"
            >
              Accepted
            </p>
          </ng-container>
          <md-card-actions *ngIf="!req.isAccepted" align="end">
            <button md-button (click)="reject(req._id)">Reject</button>
            <button md-button (click)="accept(req._id)">Accept</button>
          </md-card-actions>
        </md-card>
      </div>
    </md-tab>
  </md-tab-group>
</section>

